<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ewalletlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ewalletlogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.eWallet">
        <activity android:name=".gui.activity.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.activity.StatisticsActivityPage"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".gui.activity.TodayActivityPage"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".gui.activity.ToolActivityPage"
            android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>